body{
    background-color: #111013;
}
.jumbotron-fluid {
    color: rgb(107, 37, 37);
    position: relative;
    height: 40vh;

    display: flex;
    align-items: center;
}

.btn {
    color:rgb(107, 37, 37);
}

.btn-space {
    margin-right: 10px;
}

.navbar-brand{
    color:rgb(107, 37, 37);
}

.nav-link{
    color:rgb(107, 37, 37);
}

a:hover{
    color:cornsilk
}

.card-to-right{
        margin-right: 25px;
        margin-left: auto!important;
        margin-top: 30px;
}

.row>*{
    padding-left: 0;
    padding-right: 0;
}

.player-wrapper {
    width: auto;
    height: auto; 
  }
.react-player {
    padding-top: 56.25%;
    position: relative;
  }
  
.react-player > div {
    position: absolute;
  }

.btn-rightEnd {
    float: right;
}

.color{
    color:rgb(107, 37, 37);
}

.center{
    margin-top: 350px;
    margin-right: 40px;
}

.center-loading {
    padding-top: 350px;
    padding-left: 600px;
}
h3{
    color: rgb(209, 203, 207);
}

.formError{
    color: rgb(197, 38, 32);
}
.photo {
    height: 478px;
    width: 478px;
  }